$primary: #05a5d1;
$noBg: #00000000;
$enable-shadows: true;

@import "~bootstrap/scss/bootstrap";

body {
  background-color: #f5f5f5 !important;
}

@media (max-width: 767px) {
  .navbar-collapse {
    background-color: $secondary;
  }
  .rootItemLink {
    padding: 8px 0px !important;
  }
}
table tr td.actionColumn button {
  margin: 0.5rem 0.5rem 0.5rem 0;
}

table tr td {
  vertical-align: middle !important;
}

.pointer {
  cursor: pointer;
}
